body {	/*the outer layer of the site and global style attributes*/
font-family: "Lato", "Museo Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
}

a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img_scaled {
width: 100%;
}

.img_scaled_wh {
width: 100%;
height: 100%;
}

.img_scaled_h {
height: 100%;
}

.blur {
-webkit-filter: blur(3px);
-moz-filter: blur(3px);
filter: blur(3px);
}

#logo {
height: 50px;
float: left;
}
#header_container {
position: absolute; 
height: 80px;
width: 100%;
z-index: 100;
}
#header {
padding: 15px;
height: 50px;
}
#cover_container {
position: fixed;
width: 100%;
height: 100%;
top: 0px;
}
#cover {
height: 500px;
overflow: hidden;
position: relative;
z-index: 5;
}
#cover_hero_container {
position: absolute;
top: 150px;
width: 100%;
z-index: 10;
}
#cover_hero {
color: white;
background: #de6868;
padding: 15px;
width: 400px;
margin-left: auto;
margin-right: auto;
}
#cover_hero_title {
font-size: 24px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
}
#cover_hero_subtitle {
text-transform: uppercase;
text-align: center;
margin-top: 10px;
font-size: 16px;
}
#cover_overlay {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0.85;
z-index: 3;
}
#cover_background {
    width: 100%;
    height: 100%;
    position: absolute;
}
#cover_content_container {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -85px;
}
#cover_content {
    text-align: center;
    color: white;
    font-weight: 100;
}
#cover_title {
    font-size: 48px;
}
#cover_subtitle {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 16px;
}
#cover_action {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
    font-weight: 700;
    font-size: 13px;
    -webkit-transition: linear 0.2s;
    -moz-transition: linear 0.2s;
    transition: linear 0.2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: white;
}
#cover_action_icon {
    width: 30px;
    padding: 10px 85px;
    background: white;
}
#cover_action_caption {
    line-height: 50px;
    text-align: center;
    -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
#cover_action:hover #cover_action_caption {
    margin-top: -50px;
}


#cover_menu_container {
    position: absolute; z-index: 10; top: 40px; left: 40px; padding: 5px 15px;
}
#cover_menu_list {
    position: absolute;
    top: 8px;
    left: 10px;
    display: none;
}
#cover_menu {
    position: relative;
    width: 150px;
    height: 30px;
    cursor: pointer;
}
#cover_menu_back {
width: 0px;
height: 0px;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-right: 5px solid white;
position: absolute;
top: 11px;
right: 35px;
display: none;
}
#cover_menu_icon {
    width: 30px;
    position: absolute;
    -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    left: 0px;
}
#cover_menu_caption {
    line-height: 30px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 40px;
    -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}
.cover_menu_item {
    margin-bottom: 10px;
    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
    transition: linear 0.1s;
}
.cover_menu_item:hover {
    margin-left: 5px;
}
.cover_menu_item_icon {
    width: 20px;
    float: left;
}
.cover_menu_item_caption {
    float: left;
    color: white;
    margin-left: 10px;
    font-size: 12px;
    line-height: 20px;
}

#cover_login {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    border-radius: 2px;
}
#cover_login_icon {
    width: 30px;
    float: left;
}
#cover_login_caption {
    float: left;
    color: white;
    line-height: 30px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.cover_todo_item {
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    position: relative;
}
#cover_todo {
    width: 200px;
    position: absolute;
    right: 40px;
    top: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: 10;
}
#cover_todo_icon {
    width: 30px;
    float: left;
}
#cover_todo_caption {
    line-height: 30px;
    color: white;
    float: left;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}
#cover_todo_header {
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.cover_todo_download {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    background: #4989DA;
    border-radius: 2px;
}
.cover_todo_name {
    margin-bottom: 5px;
}
.cover_todo_due {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.75);
}

#content {
position: relative;
margin-top: 550px;
z-index: 10;
}
#content_title_container {
position: absolute;
top: -24px;
width: 100%;
z-index: 10;
}
#content_title {
padding: 15px;
background: #de6868;
color: white;
font-size: 13px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
width: 200px;
margin-left: auto;
margin-right: auto;
}

/* About */
#nav {
box-shadow: 0px 0px 5px #DDD;
position: absolute;
z-index: 100;
top: 500px;
background: white;
width: 100%;
}
#nav_logo {
    width: 24px;
    height: 24px;
    padding: 8px;
    background: #757c78;
    border-radius: 50%;
    float: left;
}
.nav_item_icon {
width: 24px;
float: left;
padding: 8px 0px;
}
#nav_content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px;
}
#nav_title {
    float: left;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #757c78;
    margin-left: 10px;
}
#nav_items {
    float: right;
    position: relative;
}
.nav_item {
float: left;
margin-left: 30px;
cursor: pointer;
}
#nav_active {
width: 100px;
height: 3px;
background: #de6868;
position: absolute;
bottom: -15px;
left: 30px;
-webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
-moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.nav_item_caption {
    float: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    color: #757c78;
    margin-left: 5px;
}
#nav_menu_icon {
    width: 30px;
    float: left;
}
#nav_menu {
    position: absolute;
    left: 56px;
    top: 20px;
    display: none;
    cursor: pointer;
}
#nav_menu_caption {
    float: left;
    color: #757c78;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    margin-left: 10px;
}
.nav_menu_item_icon {
    width: 20px;
    float: left;
}
.nav_menu_item_caption {
    float: left;
    font-size: 12px;
    font-weight: 700;
    color: #757c78;
    line-height: 20px;
    margin-left: 5px;
}
#nav_menu_popover {
    position: absolute;
    top: 60px;
    left: -30px;
    display: none;
}
#nav_menu_list {
    background: white;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #757c78;
}
.nav_menu_item {
    padding: 10px 15px;
    width: 100px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}
.nav_menu_item:hover {
    background: #FAFAFA;
}
#nav_menu_arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    width: 0px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

.about_item {
position: relative;
width: 960px;
margin-left: auto;
margin-right: auto;
}

#about_main {
    text-align: center;
    padding: 60px 0px;
}
.about_main_hero {
    color: #1ABC9C;
    font-size: 32px;
    font-weight: 100;
}
.about_main_caption {
    margin-top: 15px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 300;
    color: #757c78;
}
.about_main_description {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    font-size: 13px;
    color: black;
}
#about_main_container {
    background: white;
}
#about_logistics {
    background: transparent;
    padding: 60px 0px;
}
#about_logistics_content {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}
.about_logistics_icon {
    width: 40px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.about_logistics_item {
    width: 180px;
    float: left;
    text-align: center;
    color: white;
    margin-right: 40px;
}
.about_logistics_title {
    margin: 15px 0px;
    font-size: 16px;
    font-weight: 700;
}
.about_logistics_item_content {
    font-size: 32px;
    font-weight: 100;
}
.about_curriculum_thumbnail {
    width: 400px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    position: absolute;
    top: -85px;
}
.about_curriculum_content {
    float: right;
    width: 480px;
    color: white;
}
.about_curriculum_container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.about_curriculum_item {
    padding: 40px 0px;
}
.about_curriculum_title {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 30px;
}
.about_curriculum_evaluation_description {
    margin-bottom: 90px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #757c78;
}
.about_curriculum_description {
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
}
.about_curriculum_evaluation {
    background: #ecf0f1;
    padding-top: 60px;
    padding-bottom: 120px;
}
.about_curriculum_evaluation_container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.about_curriculum_evaluation_title {
    text-align: center;
    color: #9b59b6;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 20px;
}
#about_curriculum_evaluation_content {
	position: relative;	
}
.about_curriculum_evalutaion_bar {
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
}
.about_curriculum_evaluation_item {
    color: white;
    float: left;
    text-align: center;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 100;
}
.about_curriculum_evaluation_item20 {
    width: 144px;
}
.about_curriculum_evaluation_item30 {
    width: 216px;
}
.about_curriculum_evaluation_caption_arrow {
    width: 2px;
    height: 20px;
    background: #757c78;
    margin-left: auto;
    margin-right: auto;
}
.about_curriculum_evaluation_caption_text {
    font-size: 13px;
    color: #757c78;
    font-weight: 700;
    text-transform: uppercase;
}
.about_curriculum_evaluation_caption {
position: absolute;
}
#about_curriculum_evaluation_attendance {
top: -34px;
left: 30px;
}
#about_curriculum_evaluation_homework {
    top: 39px;
    left: 172px;
}
#about_curriculum_evaluation_groupproj {
    top: -34px;
    left: 338px;
}
#about_curriculum_evaluation_finalproj {
    top: 39px;
    left: 560px;
}

#about_schedule {
    background: #2f353f;
    padding: 60px 0px;
    color: white;
}
#lecture_schedule {
background: #ecf0f1;
color: white;
padding: 60px 0px;
}
#schedule_title {
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 30px;
}
#schedule_timeline_head {
    width: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}
#schedule_timeline_foot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1ABC9C;
    margin-left: auto;
    margin-right: auto;
}
#schedule_timeline_spine {
	width: 1px;
    height: 1900px;
    margin-left: auto;
    margin-right: auto;
}
#about_schedule #schedule_timeline_spine {
    background: #757c78;
}
#lecture_schedule #schedule_timeline_spine {
	background: #bdc3c7;
}
.schedule_item {
    position: absolute;
}
.schedule_section_thumbnail {
    width: 30px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    float: left;
}
.schedule_section {
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 10px;
}
.schedule_section_design {
	background: #de6868;
}
.schedule_section_programming {
	background: #1ABC9C;
}
#schedule_timeline {
    position: relative;
}
.schedule_item_left {
    left: 0px;
}
.schedule_item_right {
    right: 0px;
}
.schedule_item_left .schedule_item_spine {
    float: right;
}
.schedule_item_left .schedule_item_content {
    float: right;
}
.schedule_item_right .schedule_item_spine {
    float: left;
}
.schedule_item_right .schedule_item_content {
    float: left;
}
.schedule_section_info {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.schedule_section_caption {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.schedule_section_title {
    font-size: 18px;
    font-weight: 100;
}
.schedule_item_content {
    width: 360px;
}
.schedule_item_spine {
    margin-top: 60px;
}
.schedule_item_line {
    background: #de6868;
    height: 1px;
    width: 120px;
    float: left;
    margin-left: -9px;
    margin-top: 7px;
}
.schedule_item_dot {
    background: #de6868;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    float: left;
}
.schedule_date {
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}
.schedule_item_right .schedule_date {
text-align: left;
}
#lecture_schedule .schedule_date {
	color: #757c78;
}
.schedule_section_downloads {
    margin-top: 10px;
}
.schedule_section_downloads_item {
    float: left;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    margin-right: 5px;
    border-radius: 2px;
}
.schedule_item_inactive {
opacity: 0.5;
}
.schedule_item_active .schedule_section {
	padding-bottom: 10px;
}
.schedule_item_active .schedule_section_thumbnail {
	margin-top: 15px;
}
#schedule_week1 {
	top: 100px;
}
#schedule_week2 {
	top: 200px;
}
#schedule_week3 {
	top: 400px;
}
#schedule_week4 {
	top: 500px;
}
#schedule_week5 {
	top: 700px;
}
#schedule_week6 {
	top: 800px;
}
#schedule_week7 {
	top: 1000px;
}
#schedule_week8 {
	top: 1100px;
}
#schedule_week9 {
	top: 1300px;
}
#schedule_week10 {
	top: 1400px;
}
#schedule_week11 {
	top: 1600px;
}
#schedule_week12 {
	top: 1700px;
}

#about_instructors {
    background: white;
    padding: 60px 0px;
}
#about_instructors_title {
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    color: #1abc9c;
    margin-bottom: 15px;
}
#about_instructors_subheading {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: #757c78;
    margin-bottom: 60px;
}
.about_instructors_thumbnail {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #2f353f;
    float: left;
    margin-top: 25px;
}
.about_instructors_email {
    width: 20px;
    padding: 10px;
    border: 3px solid #757c78;
    border-radius: 50%;
    float: left;
    margin-top: 65px;
    margin-left: 30px;
    -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
}
.about_instructors_email:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
.about_instructors_website {
    width: 20px; padding: 10px; border: 3px solid #757c78; border-radius: 50%; float: left; margin-top: 65px; 
    margin-left: 20px; -webkit-transition: all 200ms cubic-bezier(0.77, 0, 0.175, 1); -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1); transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1); cursor: pointer;
}
.about_instructors_website:hover {
    -webkit-transform: scale(1.1);
}
.about_instructors_info {
    float: left;
    width: 480px;
    margin-right: 36px;
    text-align: right;
}
.about_instructors_name {
    font-size: 24px;
    font-weight: 700;
    color: #1abc9c;
    text-transform: uppercase;
    margin-bottom: 10px;
    float: right;
}
.about_instructors_description {
    font-size: 12px;
    line-height: 24px;
    color: #757c78;
}
.about_instructors_item {
    position: relative;
    float: left;
    margin-bottom: 40px;
}
#about_instructors_ta_header {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1abc9c;
    margin-bottom: 20px;
}
.about_instructors_ta_item {
    float: left;
    width: 150px;
}
.about_instructors_ta_item_thumbnail {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #2f353f;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.about_instructors_ta_item_name {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #757c78;
}
#about_instructors_ta_content {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.about_instructors_section {
    background: #2f353f;
    float: right;
    padding: 4px 8px;
    border-radius: 3px;
    margin: 0px 15px;
}
.about_instructors_section_icon {
    width: 20px;
    float: left;
}
.about_instructors_section_caption {
    float: left;
    color: white;
    line-height: 20px;
    font-size: 13px;
    margin-left: 5px;
}
.about_instructors_design {
    float: right;
    background: #de6868;
}
.about_instructors_programming {
    float: left;
}
#about_apply_caption {
    float: left;
    font-size: 36px;
    font-weight: 100;
    color: #857c78;
}
#about_apply_action {
    float: right;
    background: #de6868;
    color: white;
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}
#about_apply_action_icon {
    width: 24px;
    padding: 8px 0px;
    margin-left: auto;
    margin-right: auto;
}
#about_apply_action_caption {
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
#about_apply_action:hover #about_apply_action_caption {
    margin-top: -40px;
}
#about_apply {
background: #ecf0f1;
padding: 40px 0px;
}
#about_disclaimer {
    background: #de6868;
    padding: 40px 0px;
    color: white;
    font-size: 24px;
    font-weight: 100;
    text-align: right;
}
#about_footer {
    background: #2f353f;
    padding: 30px 0px;
    color: white;
    text-align: center;
}
#about_footer_logo {
    background: white;
    width: 20px;
    padding: 5px;
    border-radius: 50%;
    float: left;
}
#about_footer_title {
    font-size: 18px;
    font-weight: 100;
    float: left;
    margin-left: 10px;
    line-height: 30px;
}
#about_footer_endnote {
    font-size: 13px;
    font-weight: 100;
    float: left;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #DDD;
}
#about_footer_copyright {
    float: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
}

/* Lectures */

.nav_week {
    font-size: 13px;
    float: left;
    width: 80px;
    line-height: 40px;
    text-align: center;
    color: #757c78;
}

/* Modal */

#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20000;
    top: 0px;
    left: 0px;
    display: none;
}
#modal_overlay {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.modal_notification {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.modal_notification_container {
    background: #de6868;
    position: absolute; 
    width: 100%; 
    padding: 40px 0px; 
    top: 50%;
    margin-top: -58px;
    margin-left: -100%;
    color: white;
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.modal_notification_message {
    float: left;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}
.modal_notification_dismiss {
    float: right;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 15px;
    border: 2px solid white;
    border-radius: 2px;
    cursor: pointer;
}


#endnote {
padding: 20px 0px;
background: #2f353e;
color: white;
text-align: center;
text-transform: uppercase;
font-weight: 300;
font-size: 10px;
}